* {
    font-family: 'Helvetica', sans-serif;
}

a {
    transition: background-color 200ms, color 200ms;
    color: $theme-primary;

    &:hover {
        text-decoration: none;
        color: darken($theme-primary, 20);
    }
}

figure {
    table {
        width: 100%;
    }
}

.container--full-hd {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.figure--full {
    background-color: #eeeeee;
    transition: background-color 200ms;

    &:hover {
        background-color: $theme-primary;
    }
}
