.btn-brown {
  background-color: $theme-secondary;
  color: #fff;
  border-color: $theme-secondary;

  &:hover {
    border-color: $theme-secondary;
    background-color: transparent;
    color: $theme-secondary;
  }
}

.btn-outline-brown {
    background-color: #fff;
    color: $theme-secondary;
    border-color: $theme-secondary;

    &:hover, &.active {
        color: #fff;
        background-color: $theme-secondary;
    }
}
