@charset "UTF-8";

.placeholder-center:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a1d364;
  text-align: center;
}

.placeholder-center::-moz-placeholder {
  color: #a1d364;
  text-align: center;
}

.placeholder-center::placeholder {
  color: #a1d364;
  text-align: center;
}

.bg-primary-green {
  background-color: #a1d364 !important;
}

.bg-gray {
  background-color: #f2f2f2;
}

.border-primary-green {
  border-color: #a1d364 !important;
}

.border-lg {
  border-width: 3px !important;
}

.text-color-primary {
  color: #a1d364 !important;
}

.text-color-secondary {
  color: #6a4f29 !important;
}

.mt-20 {
  margin-top: 5rem !important;
}

.mt-40 {
  margin-top: 10rem !important;
}

* {
  font-family: "Helvetica", sans-serif;
}

a {
  transition: background-color 200ms, color 200ms;
  color: #a1d364;
}

a:hover {
  text-decoration: none;
  color: #6ea32e;
}

.font-helvetica {
  font-family: Helvetica, "sans-serif";
}

.btn-brown {
  background-color: #6a4f29;
  color: #fff;
  border-color: #6a4f29;
}

.btn-brown:hover {
  border-color: #6a4f29;
  background-color: transparent;
  color: #6a4f29;
}

.form-control--outline {
  border: 1px solid #a1d364;
  border-left: 0;
}

.input-group--outline .input-group-text {
  background-color: #fff;
  border: 1px solid #a1d364;
  border-right: 0;
  color: #a1d364;
}

.site-footer .copyright {
  background-color: #93ba5a;
  color: #fff;
}

.site-footer a {
  color: #333;
}

.site-footer a:hover {
  color: #6a4f29;
}

.site-footer strong {
  color: #6a4f29;
}

.top-bar {
  background-color: #a1d364;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-bar .nav-link {
  color: #fff;
}

.top-bar .search-field input,
.top-bar .search-field .input-group-text {
  background-color: #93ba5a;
  border: 0;
  transition: background-color 200ms;
}

.top-bar .search-field input {
  color: #fff;
}

.top-bar .search-field input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eee;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eee;
}

.top-bar .search-field input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eee;
}

.top-bar .search-field input:focus {
  background-color: #fff;
  color: #333;
  box-shadow: none;
}

.top-bar .search-field input:focus::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input:focus:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}

.top-bar .search-field input:focus:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.top-bar .search-field input:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

.top-bar .search-field .input-group-text i {
  color: #fff;
}

.top-bar .language-switcher .nav-link {
  background-color: rgba(147, 186, 90, 0.5);
  color: #fff;
  min-width: 50px;
  text-align: center;
}

.top-bar .language-switcher .nav-link:hover {
  background-color: #93ba5a;
}

.top-bar .language-switcher .nav-item.active .nav-link {
  background-color: #93ba5a;
}

.blurb__image {
  margin-bottom: 50px;
}

.blurb__content {
  margin-top: 30px;
}

.faq {
  margin-bottom: 50px;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #a1d364;
  padding: 10px 20px;
  color: #fff;
}

.faq__question i.fas {
  color: #7c623e;
}

.faq__question.collapsed i.fas.fa-minus:before {
  content: "\F067";
}

.faq__answer {
  padding: 10px 20px;
}

.pricelist-card .card-header {
  background-color: #a1d364;
  border-radius: 20px 20px 0 0;
}

.pricelist-card .card-body {
  background-color: #f2f2f2;
  border-radius: 0 0 20px 20px;
}

.pricing-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pricing-list li {
  border-bottom: 2px solid #a1d364;
}

.pricing-list li i {
  color: #a1d364;
}

#main_nav {
  background-color: #fff;
}

#main_nav .navbar-toggler i {
  color: #6a4f29;
}

#main_nav .navbar-nav .dropdown-item:active {
  background-color: #f2f2f2;
}

#main_nav .navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

#main_nav .navbar-nav .nav-item .nav-link {
  color: #7c623e;
  padding-left: 1rem;
  padding-right: 1rem;
}

#main_nav .navbar-nav .nav-item > .nav-link {
  background-color: #fff;
  font-weight: 500;
  position: relative;
}

#main_nav .navbar-nav .nav-item > .nav-link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #6a4f29;
  transform: scaleX(0);
  transition: transform 200ms, background-color 200ms;
}

#main_nav .navbar-nav .nav-item > .nav-link.show {
  background-color: #f2f2f2;
}

#main_nav .navbar-nav .nav-item > .nav-link.show:before {
  transform: scaleX(1);
}

#main_nav .navbar-nav .nav-item.show .nav-link:before,
#main_nav .navbar-nav .nav-item.active .nav-link:before,
#main_nav .navbar-nav .nav-item:hover .nav-link:before,
#main_nav .navbar-nav .nav-item:active .nav-link:before,
#main_nav .navbar-nav .nav-item:focus .nav-link:before {
  transform: scaleX(1);
}

#main_nav .navbar-nav .nav-item:hover > .nav-link {
  background-color: #f2f2f2;
}

.dropdown-toggle.hover-show:hover + .dropdown-menu {
  display: block;
}

.dropdown-toggle.hover-show + .dropdown-menu:hover {
  display: block;
}

@media (min-width: 992px) {
  #main_nav {
    padding-top: 0;
    padding-bottom: 0;
  }

  #main_nav .navbar-nav .nav-item > .nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.btn-lg {
  padding: 0.75rem 2rem;
}

