$theme-primary: #a1d364;
$theme-secondary: #6a4f29;

$top-bar-color: $theme-primary;
$top-bar-padding-top: 10px;
$top-bar-padding-bottom: 10px;
$top-bar-search-background: #93ba5a;
$top-bar-language-switcher-bg: rgba(147, 186, 90, .5);
$top-bar-language-switcher-bg--active: rgba(147, 186, 90);

$navbar-bg: #fff;
$nav-link-color: #7c623e;

$input-border-color: $theme-primary;
