.site-footer {
    .copyright {
        background-color: #93ba5a;
        color: #fff;
    }

    a {
        color: #333;
        text-decoration: none;

        &:hover {
            color: $theme-secondary;
        }
    }

    strong, i {
        color: $theme-secondary;
    }

    .separator {
        &:before {
            width: 1px;
            height: 100%;
            content: '';
            display: block;
            background-color: #fff;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
